@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome on our website</h1>
    <br/>
    <h4 class="display-5">
        Come and reserve car for you !!! <a class="navbar-brand" asp-area="" asp-controller="Car" asp-action="Index"><img src="~/images/racing-car.png" alt="Racing Car" />
        </a>
    </h4>
</div>
